*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

}
input{
  border-radius: 5px;
  padding:5px;
  margin:5px;
  width:200px;
  border:none;
}
button{
  border-radius:5px;
  padding:5px;
  margin:5px;
  height: 25px;
  border:none;
  background-color: white;
  /* color:rgb(115, 115, 185); */
  font-size: 15px;
}
.Header{
  display: inline-flex;
  align-items: center;
  justify-content:space-around;
  text-align: center;
  color:black;
  height:20vh;
  width:100vw;
  padding:20px;
  box-shadow: 5px
}
.headerContainer{
  /* height:24vh; */
  width:100vw;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right:20px;
  vertical-align: bottom;
}
.inlineContainer{
  margin-top: 10px;
}
.GifContainer{
  display: flex;
  flex-direction: row ;
  width: 100vw;
  justify-content: center;
}
.Gif{
  display: inline-flex;
  flex-direction: column;
  align-content: space-between;
  border:3px black solid;
  border-radius: 7px;
  margin:5px;
}
.buttonContainer{
  display: flex;
  flex-direction:row;
  justify-content: center;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-image:url( https://i.imgur.com/iPOX337.jpg);
  height:100vh;

}
img{

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
